*.js
*.js.map
*.log
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
demo-angular/app/*.js
demo-angular/*.d.ts
demo-angular/platforms
demo-angular/node_modules
src/node_modules
/.vscode/