registry=https://pkgs.dev.azure.com/Verisk-Lehi/_packaging/xr-npm/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=7D16A252-8A43-4FFA-B74D-0A186935CFA7
